**/bin*
**/modules
**/build
**/.gradle
**/.idea
*.zip
/gradlew
out
output
quickstart
gradle/
old.gradle
*.classpath
*.project
*.settings
*src/resources/
*web
logs/*
tokens.txt
dingo-bot/*
Dingo-Bot-9000/*
.run/*
secrets.json
